@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
* {
  font-family: 'Gilda Display';
}
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
